<div class="container">
<h1 class="text-center">Add products</h1>
<hr>
</div>
<div class="container">

<div class="col-sm-4 col-sm-offset-4" >
	<form action="/admin/add_product" method="post" enctype="multipart/form-data">

	<label>product name</label>
	<input  class="form-control" type="text" name="name" placeholder="product name"><br>

 	<label>product price</label>
	<input  class="form-control" type="text" name="price" placeholder="product price"><br>

	<label>discount</label>
	<input  class="form-control" type="text" name="discount" placeholder="discount"><br>

	<label>product image</label>
	<input  class="form-control" type="file" name="image" placeholder="discount"><br>

	<label>product category</label>
	<select class="form-control" name="category">
		<option>select</option>
		<%data.forEach(function(x){%>

			<option><%= x.name%></option>

		<%})%>
		
	</select><br>

	<label>product detaile</label><br>
	<textarea class="form-control" name="detaile" placeholder="product detaile"></textarea><br>

	<button type="submit" class="btn btn-warning" >Add product</button>

</form>
</div>
	<%= message%>

</div>