<div class="container">
<h1 class="text-center">Add Category</h1>
<hr>
</div>
<div class="container">

<div class="col-sm-4 col-sm-offset-4" >
	<form action="/admin/add_category" method="post">
	<label>Add Category</label>
	<input  class="form-control" type="text" name="name" placeholder="category"><br>
	<button type="submit" class="btn btn-primary" >Add</button>
</form>
</div>
	<%= message%>

</div>